<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lhk.cms.dao.IBaseDao">
<!-- *映射语句 -->
<cache type="demo.redis.cache.RedisCache"/>
    <!-- 保存 数据 -->
    <insert id="saveBean">
 		${value}
 	</insert>

    <!-- 查询 数据 -->
    <select id="findAllBeans" parameterType="java.lang.String" resultType="java.util.HashMap">
		${value}
	</select>

    <!-- 查询 数据 -->
    <select id="findAllBeansByOtherId" parameterType="java.lang.String" resultType="java.util.HashMap">
		${value}
	</select>

    <!-- 查询 数据 -->
    <select id="findBeanById" parameterType="java.lang.String" resultType="java.util.HashMap">
		${value}
	</select>

    <!-- 查询 数据 -->
    <select id="updateBeans" parameterType="java.lang.String">
		${value}
	</select>
    <!-- 查询 数据 -->
    <select id="exeSql" parameterType="java.lang.String">
		${value}
	</select>

    <!-- 查询 数据 -->
    <select id="exeMapQuery" parameterType="java.lang.String" resultType="java.util.HashMap">
		${value}
	</select>
    <!-- 查询 数据 -->
    <select id="exeListQuery" parameterType="java.lang.String" resultType="java.util.HashMap">
		${value}
	</select>
</mapper>