<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lhk.cms.dao.IUserDao">
 	
 	<!-- 1保存 文章 -->
 	<insert id="saveUser" parameterType="com.lhk.cms.bean.User">
 		<selectKey keyProperty="id" resultType="java.lang.Long"
			order="BEFORE">
			select cms_seq.nextval from dual
		</selectKey>
 		insert into tbl_user(id,username,fullname,sex,phone,pwd)
 		values(#{id},#{username},#{fullname},#{sex},#{phone},#{pwd})
 	</insert>
 	<!-- 查询所有文章对象   测试可以使用-->
 	<select id="findAllUser" resultType="com.lhk.cms.bean.User">
		select id,username,fullname,sex,phone,pwd 
		from tbl_user 		
 	</select>
 	
 	<!-- 查询文章对象通过id -->
 	<select id="findUserById" parameterType="java.lang.Long" resultType="com.lhk.cms.bean.User">
 		select id,username,fullname,sex,phone,pwd 
		from tbl_user 
		where id=${value} 
 	</select>
 	
 	<!-- 查询文章对象通过用户名密码 -->
 	<select id="findUserByUsername" parameterType="java.lang.String" resultType="com.lhk.cms.bean.User">
 		select id,username,fullname,sex,phone,pwd 
		from tbl_user 
		where username=#{value}
 	</select>
 	
 	<!-- 查询文章对象通过用户名密码 -->
 	<select id="findUserByUsernameAndPassword" resultType="com.lhk.cms.bean.User">
 		select id,username,fullname,sex,phone,pwd 
		from tbl_user 
		where username=#{0} and pwd=#{1}
 	</select>
 	
 	<!-- 删除文章 -->
 	<delete id="deleteUser" parameterType="java.lang.String">
 		delete tbl_user
 		where where id in (${value}) 
 	</delete>
 	<!-- 更新文章 -->
 	<update id="updateUser" parameterType="com.lhk.cms.bean.User">
 		update tbl_user
 		<set>
 			<trim prefixOverrides=",">
 				<if test="fullname!=null">,fullname=#{fullname}</if>
 				<if test="username!=null">,username=#{username}</if>
 				<if test="sex!=null">,sex=#{sex}</if>
 				<if test="phone!=null">,phone=#{phone}</if>
 				<if test="pwd!=null">,pwd=#{pwd}</if>
 			</trim>
 		</set>
 		<where>
 			id=#{id}
 		</where>
 	</update>
</mapper>